.tm-player {
  position: relative;
  width: 100%;
	height: 0;
  padding-bottom: 75%;
  box-sizing: border-box;
  .video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .poster-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    overflow: hidden;
    &.hide {
      display: none;
    }
    img.poster {
      width: 100%;
      display: block;
    }
  }
}